<h1>Favorite list</h1>
<div class="row movie-box" ng-repeat="favorite in favorites">
    <div class="pull-left poster-box"><img ng-src="{{favorite.urlPoster}}" alt="{{favorite.title}}"/></div>
    <div class="pull-left">
        <h2 class="movie-title">
            {{favorite.title}}
            <img class="favorite-ico"
                 ng-init="itemsrc='img/favorite-ico.png'"
                 ng-mouseover="itemsrc='img/non-favorite-ico.png'"
                 ng-mouseout="itemsrc='img/favorite-ico.png'"
                 ng-if="favorite.favorite"
                 ng-src="{{itemsrc}}"
                 ng-click="removeFavorite(favorite.idIMDB)"
                 title="Remove from favorite"/>
        </h2>
        <p>Year: {{favorite.year}}</p>
        <p>Rating: {{favorite.rating}}</p>
        <p>Genre: {{favorite.genres.join(', ')}}</p>
        <p>Country: {{favorite.countries.join(', ')}}</p>
        <p>Director:
            <span ng-repeat="director in favorite.directors">
                <a ng-href="http://www.imdb.com/name/{{director.nameId}}">{{director.name}}</a>{{$last ? '' : ', '}}
            </span>
        </p>

        <p>Director: <a href="#">{{getDirectors(favorite.directors)}}</a></p>
        <p>{{favorite.idIMDB}}</p>
        <p ng-repeat="trailer in favorite.trailer.qualities">
            <a ng-href="{{trailer.videoURL}}">{{trailer.quality}}</a>
        </p>
    </div>
</div>
