<h1>Chart by decades of films</h1>

<form>
    <span class="chart-type-radio">
        <label for="d3chart">Show d3 chart</label>
        <input id="d3chart" type="radio" value="d3" ng-model="chart">
    </span>
    <span class="chart-type-radio">
        <label for="nvd3chart">Show nvd3 chart</label>
        <input id="nvd3chart" type="radio" value="nvd3" ng-model="chart">
    </span>

</form>

<pie ng-if="chart == 'd3' && film" pie-data="film" pie-width="600"></pie>

<nvd3 ng-if="chart == 'nvd3' && film" options="options" data="film"></nvd3>