.movie-box {
  margin-bottom: 30px;
}

.poster-box {
  margin-right: 30px;
}

.movie-title {
  line-height: 45px;
}

.favorite-ico {
  width: 40px;
  cursor: pointer;
}

.preloader-ico {
  width: 30px;
}

.preloader-box {
  text-align: center;
}

.page-preloader-ico {
  width: 130px;
}

.modal-body {
  text-align: center;
}