.movie-box {
  margin-bottom: 30px;
}

.poster-box {
  padding-right: 30px;
  width: 30%;
  .poster-img {
    width: 100%;
  }
}

.movie-info-box {
  width: 70%;
}

.movie-title {
  line-height: 45px;
  margin-top: 0;
}

.favorite-btn {
  border: none;
  background-color: initial;
  outline: none;
  .favorite-ico {
    width: 40px;
  }
}

.preloader-ico {
  width: 30px;
}

.preloader-box {
  text-align: center;
}

.page-preloader-ico {
  width: 130px;
}

.modal-body {
  text-align: center;
}