<div class="container">
    <h1>Top list</h1>
    <div ng-show="topMoviesCtrl.isReady">
        <div class="row movie-box" ng-repeat="movie in topMoviesCtrl.movies">
            <div class="pull-left poster-box">
                <img ng-src="{{movie.urlPoster}}" class="poster-img" alt="{{movie.title}}" title="{{movie.title}}"/>
            </div>
            <div class="pull-left movie-info-box">
                <h2 class="movie-title">
                    {{movie.title}}
                    <button type="button" class="favorite-btn" ng-if="movie.favorite">
                        <img class="favorite-ico"
                           ng-init="itemsrc='img/favorite-ico.png'"
                           ng-mouseover="itemsrc='img/non-favorite-ico.png'"
                           ng-mouseout="itemsrc='img/favorite-ico.png'"
                           ng-src="{{itemsrc}}"
                           ng-click="topMoviesCtrl.removeFavorite(movie.idIMDB)"
                           title="Remove from favorite"/>
                    </button>
                    <button type="button" class="favorite-btn" ng-if="!movie.favorite">
                        <img class="favorite-ico"
                             ng-init="itemsrc='img/non-favorite-ico.png'"
                             ng-mouseover="itemsrc='img/favorite-ico.png'"
                             ng-mouseout="itemsrc='img/non-favorite-ico.png'"
                             ng-src="{{itemsrc}}"
                             ng-click="topMoviesCtrl.addFavorite(movie)"
                             title="Add to favorite"/>
                    </button>
                </h2>

                <p>Year: {{movie.year}}</p>

                <p>Rating: {{movie.rating}}</p>

                <p>Genre: {{movie.genres.join(', ')}}</p>

                <p>Country: {{movie.countries.join(', ')}}</p>

                <p>Director:
                    <span ng-repeat="director in movie.directors">
                        <a ng-href="http://www.imdb.com/name/{{director.nameId}}" target="_blank">{{director.name}}</a>{{$last ? '' : ', '}}
                    </span>
                </p>

                <p>Director: <a href="#">{{getDirectors(movie.directors)}}</a></p>

                <p>{{movie.idIMDB}}</p>

                <p>Trailers:
                    <img class="preloader-ico"
                         ng-if="!movie.trailer"
                         ng-src="img/preloader.gif"/>
                    <span ng-repeat="trailer in movie.trailer.qualities">
                        <button type="button" class="btn btn-info"
                                ng-click="openVideo(movie.title,trailer.videoURL, 480, 270)">{{trailer.quality}}
                        </button>
                    </span>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="preloader-box" ng-hide="topMoviesCtrl.isReady">
    <img class="page-preloader-ico"
         ng-src="img/preloader.gif"/>
</div>

