<!--
<trailer-modal video-url="{{trailer.videoURL}}"></trailer-modal>-->
<div class="modal-header">

</div>
<div class="modal-body">
    http://www.imdb.com/video/playlist/title?tconst=tt1431045&rid=undefined
    <iframe frameborder="0" name="1439070080703" scrolling="no" src="http://www.imdb.com/video/playlist/title?tconst=tt1431045&amp;rid=undefined" class="cboxIframe" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
<!--    <iframe width="420" height="345" ng-src='http://www.imdb.com/video/playlist/title?tconst=tt1431045&rid=undefined'></iframe>-->
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>